@import "@styles/variables.scss";

.mobileMenu {
    position: fixed;
    padding: 72px 24px;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100dvh;
    background: $white-color;
    box-shadow: -2px 0 16px rgba(0, 0, 0, 0.12);
    z-index: 1000;
    transition: right 0.35s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    opacity: 0;

    &.open {
        right: 0;
        pointer-events: auto;
        opacity: 1;
    }
}

.menuList {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    border-left: 3px solid $black-color;
}

.menuItem {
    position: relative;
    width: 100%;
    font-size: 20px;
    padding: 16px;
    text-decoration: none;
    color: $black-color;
    font-weight: bold;
    transition: color 0.3s ease;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        translate: -60% -75%;
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid transparent;
        background: $black-color;
        transition: background 0.3s, border 0.3s;
    }

    &.active::after {
        background: $white-color;
        border-color: $black-color;
    }

    &:hover {
        color: $accent-color;
    }
}

@media (min-width: 769px) {
    .mobileMenu {
        display: none;
    }
}
