@import "@styles/variables.scss";

.TeacherListSection {
}

.twoCols {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    min-height: 400px;
    width: 100%;
}

.stickyHalf {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    top: 40px;
    width: 50%;
    height: calc(100vh - 80px);
    color: $black-color;
    padding: 24px 16px;
    border-radius: 24px;
    z-index: 2;
}

.title {
    width: 100%;
    text-align: left;
    font-size: 50px;
    font-weight: 700;
}

.bubble {
    background-color: $accent-color;
    border-radius: 16px;
    padding: 16px;
    max-width: 300px;
    text-wrap: pretty;
}

.cardsScroll {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-right: 8px;
}

@media (max-width: 950px) {
    .title {
        font-size: 40px;
    }
}

@media (max-width: 728px) {
    .twoCols {
        flex-direction: column;
        align-items: center;
    }

    .stickyHalf {
        position: relative;
        height: fit-content;
        align-self: center;
        gap: 20px;
        width: 100%;
        padding: 0;
        top: 0;
    }

    .title {
        text-align: center;
    }
}
