@import "@styles/variables.scss";

.TeacherListSection {
}

.twoCols {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    min-height: 400px;
    width: 100%;
}

.stickyHalf {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    top: 40px;
    width: 50%;
    height: calc(100vh - 80px);
    color: $black-color;
    border-radius: 24px;
    z-index: 2;
    gap: 10px;
}

.title {
    max-width: 500px;
    text-align: left;
}

.imgWrapper {
    position: relative;
    width: min(500px, 100%);
    height: 300px;
    border-radius: 16px;
    overflow: hidden;
    background-position: center bottom;
}

.image {
    object-fit: cover;
    background-position: center bottom;
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thinGoBoard {
}

.bubble {
    display: flex;
    flex-direction: column;
    background-color: $accent-color;
    color: $white-color;
    font-size: 2rem;
    border-radius: 16px;
    padding: 16px;
    max-width: 350px;
    text-wrap: pretty;
}

.cardsScroll {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-right: 8px;
}

@media (max-width: 950px) {
    .title {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .bubble {
        font-size: 1, 8rem;
    }

    .twoCols {
        flex-direction: column;
        align-items: center;
    }

    .stickyHalf {
        position: relative;
        height: fit-content;
        align-self: center;
        gap: 20px;
        width: 100%;
        padding: 0;
        top: 0;
    }

    .title {
        text-align: center;
    }

    .paperLantern {
        width: 100px;
        height: 100px;
    }

    .cardsScroll {
        width: 100%;
    }
}
