@import "@styles/variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(95vw, 1280px);
    margin: 0 auto;
    height: $header-height;
    padding-top: 1rem;
    gap: 1rem;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(10px, 1.2vw, 32px);
    border-bottom: 3px solid $black-color;
    position: relative;
}

.item {
    position: relative;
    flex-shrink: 0;
    font-size: 2.4rem;
    padding: 16px 0;
    text-decoration: none;
    color: $black-color;
    font-weight: bold;
    transition: color 0.3s ease;

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50% -75%;
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid transparent;
        background: $black-color;
        margin: 0 auto;
        margin-top: 4px;
        transition: background 0.3s, border 0.3s;
    }

    &.active::after {
        background: $white-color;
        border-color: $black-color;
    }

    &:hover {
        color: $accent-color;
    }
}

.targetLink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    max-width: 165px;
    text-align: center;
    border-radius: 24px;
    padding: 8px 12px;
    color: $white-color;
    background-color: $black-color;
    font-size: 2rem;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    z-index: 1000;

    &:hover {
        color: $white-color;
        background-color: lighten($accent-color, 0%);
    }
}

.buttonGroup {
    display: flex;
    gap: 10px;
}

@media (max-width: 950px) {
    .header {
        gap: 5px;
    }

    .item {
        position: relative;
        font-size: 2rem;
    }

    .menu {
        gap: 8px;
    }

    .targetLink {
        font-size: 1.6rem;
        padding: 6px 10px;
        max-width: 145px;
    }
}

@media (max-width: 768px) {
    .header {
        justify-content: space-between;
    }

    .menu {
        border: none;
    }
    .item {
        display: none;
    }
}
