@import "@styles/variables.scss";

.contacts {
    height: 100vh;
}

.title {
    text-align: center;
    font-size: 45px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    gap: 32px;
    color: $white-color;

    h3 {
        font-size: 28px;
    }
}

.card {
    background: $accent-color;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    padding: 32px 24px;
    min-width: 280px;
    max-width: 600px;
    flex: 1 1 350px;
    gap: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:hover > .button {
        background: darken($white-color, 10%);
        border-color: $black-color;
    }
}

.cardLesson {
    &:hover {
        cursor: pointer;
    }
}

.contactsList {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.contactItem {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    width: 100%;
}

.contactIcon {
    width: fit-content;
    flex-shrink: 0;
}

.contactLink {
    color: $white-color;
    text-decoration: none;
    transition: color 0.3s;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        text-decoration: underline;
    }
}

.clock {
    width: max(60%, 250px);
    align-self: center;
    margin: auto 0;
}

.button {
    margin-top: auto;
    margin-left: auto;
    padding: 12px 32px;
    background: $white-color;
    color: $black-color;
    border-radius: 8px;
    border: 2px solid transparent;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.4s, border-color 0.4s;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column-reverse;
        gap: 20px;
        align-items: stretch;
    }
    .card {
        max-width: 100%;
        align-items: flex-start;
        flex: 200px;
    }
}
