@import "../../../styles/variables.scss";

.footer {
    background-color: $black-color;
    color: $white-color;
    padding: 32px 0;
    font-size: 1.6rem;
}

.content {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    gap: 16px;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;

    a {
        color: $white-color;
        text-decoration: none;
        transition: opacity 0.2s ease;
        font-weight: 500;

        &:hover {
            opacity: 0.7;
        }
    }
}

.copy {
    opacity: 0.8;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    gap: 4px;
}

.author {
    color: $accent-color;
    text-decoration: none;
    font-weight: 600;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.8;
    }
}

@media (max-width: 768px) {
    .nav {
    }
}
