@import "@styles/variables.scss";

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    background: $white-color;
    padding: 24px;
    border-radius: 8px;
    height: min(95vh, 600px);
}

.formHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: $white-color;
    background-color: $accent-color;
    transition: background-color 0.3s;
    border-radius: 4px;

    &:hover {
        background-color: darken($accent-color, 10);
    }
}

.inputGroup {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
    font-size: 2rem;
}

.inputWrapper,
.textareaWrapper {
    position: relative;
}

.input,
.select {
    padding: 12px;
    border: 2px solid darken($white-color, 10);
    border-radius: 4px;
    width: 100%;
    transition: border-color 0.2s;

    &:focus {
        border-color: $accent-color;
    }
}

.textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 150px;
    padding-left: 12px;
    width: 100%;
    margin-top: auto;
}
.textarea::-webkit-resizer {
    width: 10px;
    height: 10px;
    color: $accent-color;
}

.submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: $white-color;
    background-color: $accent-color;
    transition: background-color 0.3s;
    border-radius: 4px;
    margin-top: auto;

    &:hover {
        background-color: darken($accent-color, 10);
    }
}

.statusMessage {
    text-align: center;
    color: $accent-color;
    font-size: 1.8rem;
}
