@import "@styles/variables.scss";

.burgerWrapper {
    z-index: 1002;
    display: none;
    align-items: center;
    background-color: $black-color;
    border-radius: 24px;
    flex-shrink: 0;
}

.burgerButton {
    color: $white-color;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;

    svg {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 768px) {
    .burgerWrapper {
        display: flex;
    }
}
