@import "@styles/variables.scss";

.Button {
    padding: 12px 32px;
    background: $white-color;
    color: $black-color;
    border-radius: 8px;
    border: 2px solid transparent;
    box-shadow: 0 0 4px rgba($black-color, 0.15);
    font-size: 18px;
    cursor: pointer;
    transition: background 0.4s, border-color 0.4s;

    &:hover {
        background: darken($white-color, 10%);
        border-color: $black-color;
    }
}
