@import "@styles/variables";

.title {
    font-size: 45px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.image {
    width: clamp(300px, 50vw, 550px);
    border-radius: 16px;
}

.text {
    width: clamp(300px, 50vw, 450px);
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        font-size: 20px;
    }
}

.quote {
    background-color: $accent-color;
    color: $white-color;
    max-width: 561px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding: 0 10px;
    border-radius: 16px 0;
    margin: 20px;
}

.rulesBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-radius: 16px;
    gap: 20px;
}

.rulesText {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rulesIntro {
    font-size: 18px;
}

.rulesList {
    padding: 0;
    list-style: disc;

    li {
        font-size: 20px;
        margin-bottom: 5px;
    }
}

.rulesFooter {
    font-size: 18px;
    font-weight: 500;
}

.rulesExtra {
    display: flex;
    align-items: center;
    gap: 20px;
}

.botLink {
    font-size: 18px;
    font-weight: 600;
    color: $accent-color;
    text-decoration: none;
    border-bottom: 1px solid $accent-color;
    width: fit-content;
    padding-bottom: 2px;

    &:hover {
        opacity: 0.8;
    }
}

.linkWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qr {
    border-radius: 8px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .image {
        width: 100%;
    }

    .text {
        width: 100%;
    }

    .rulesBlock {
        flex-direction: column;
        align-items: center;
    }

    .rulesText {
        max-width: 100%;
    }

    .rulesList {
        text-align: left;
        width: fit-content;
    }

    .botLink {
        margin: 0 auto;
    }
}
