@import "../../../styles/variables.scss";

.EducationOffer {
    background-color: $grey-color;
    text-align: center;
    color: $black-color;
}

.title {
    margin-bottom: 16px;
    color: $accent-color;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
}

.subtitle {
    font-size: 2rem;
    max-width: 700px;
    color: darken($black-color, 20%);
    line-height: 1.6;
}

.imgWrapper {
    position: relative;
    width: min(1000px, 100%);
    height: 450px;
    border-radius: 16px;
    overflow: hidden;
    background-position: center bottom;
}

.image {
    object-fit: cover;
    background-position: center bottom;
    width: 100%;
    height: 100%;
}

.formats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin-bottom: 60px;
}

.card {
    background: $black-color;
    opacity: 0.8;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    padding: 32px 24px;
    width: 320px;
    min-height: 220px;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    text-align: left;

    h4 {
        margin-bottom: 12px;
        color: $accent-color;
    }

    p {
        font-size: 2rem;
        line-height: 1.5;
        color: darken($white-color, 10%);
    }

    &:hover {
        transform: translateY(-6px);
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
    }
}

@media (max-width: 768px) {
    .EducationOffer {
        padding: 80px 0;
    }

    .formats {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 400px;

        p {
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 4.5rem;
    }

    .subtitle {
        font-size: 1.8rem;
    }

    .btn {
        width: 100%;
    }
}
