@import "./variables.scss";
@import "./mixins.scss";

body {
    font-family: Cormorant Garamond, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: min(90vw, 1280px);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
