@import "./variables.scss";
@import "./fonts.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family:
        "Manege-Light",
        Cormorant Garamond,
        sans-serif;
    background: #fff;
    color: #222;
    min-height: 100vh;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3rem;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

button,
input,
select,
textarea {
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

section {
    // margin: 2rem 0;
    padding: 2rem 0;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: min(90vw, 1280px);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media (max-width: 768px) {
    h2 {
        font-size: 45px;
    }
}
