.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    pointer-events: none;
    z-index: 999;
    background: linear-gradient(113deg, rgba(255, 255, 255, 1) 50%, transparent 50%);
    mix-blend-mode: difference;
    transform-origin: top center;
    animation: expandInvert 1s ease-out forwards;
}

@keyframes expandInvert {
    0% {
        clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
