@import "@styles/variables.scss";

.Teacher {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    width: clamp(300px, 40vw, 550px);
    // max-height: 450px;
    max-height: 450px;
    background-color: rgba($black-color, 0.8);
    border-radius: 32px;
    box-shadow: 0 4px 24px rgba(60, 60, 120, 0.07);
    padding: 24px 32px;
    transition: box-shadow 0.2s, transform 0.2s;
    border: 3px solid transparent;

    &:hover {
        box-shadow: 0 8px 32px rgba(60, 60, 120, 0.14);
        border-color: $accent-color;
        transform: scale(1.04);
    }
}

.avatar {
    border-radius: 50%;
    border: 3px solid $accent-color;
    box-shadow: 0 2px 8px rgba(99, 102, 241, 0.09);
    vertical-align: start;
    flex-shrink: 0;
    width: 96px;
    height: 96px;
    object-fit: cover;
    overflow: hidden;
    background: #fff;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    gap: 8px;
}

.name {
    font-size: 24px;
    font-weight: 600;
    color: $white-color;
    margin: 0;
    max-width: 100%;
}

.position {
    font-size: 20px;
    color: $accent-color;
    font-weight: 500;
    margin: 0;
}

.experience {
    font-size: 16px;
    color: $white-color;
    margin: 0;
}

.comment {
    font-size: 16px;
    color: $black-color;
    background: $white-color;
    border-left: 8px solid $accent-color;
    max-width: 100%;
    padding: 8px 16px;
    border-radius: 12px 0 0 12px;
    margin: 8px 0 0 0;
}

@media (max-width: 768px) {
    .Teacher {
        width: 100%;
    }
}
