@import "@styles/variables.scss";

.Teacher {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "photo photo"
        "info info"
        "bottom bottom";
    gap: 15px;
    width: clamp(300px, 40vw, 550px);
    background-color: rgba($black-color, 0.8);
    border-radius: 32px;
    box-shadow: 0 4px 24px rgba(60, 60, 120, 0.07);
    padding: 2rem 2.5rem;
    transition:
        box-shadow 0.2s,
        transform 0.2s;
    border: 3px solid transparent;

    &:hover {
        box-shadow: 0 8px 32px rgba(60, 60, 120, 0.14);
        border-color: $accent-color;
        transform: scale(1.04);
    }
}

.avatar {
    position: relative;
    grid-area: photo;
    border-radius: 32px;
    border: 3px solid $accent-color;
    box-shadow: 0 2px 8px rgba(99, 102, 241, 0.09);
    vertical-align: start;
    flex-shrink: 0;
    max-width: 200px;
    height: 240px;
    object-fit: cover;
    overflow: hidden;
    background: #fff;

    svg {
        width: 100%;
        height: 100%;
    }

    .image {
        object-fit: cover;
    }
}

.info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    text-align: end;
    width: 100%;
    gap: 8px;
}

.name {
    font-size: 2.4rem;
    font-weight: 600;
    color: $white-color;
    margin: 0;
    max-width: 100%;
}

.position {
    font-size: 2rem;
    color: $accent-color;
    font-weight: 500;
    margin: 0;
}

.experience {
    font-size: 16px;
    color: $white-color;
    margin: 0;
}

.comment {
    grid-area: bottom;
    font-size: 16px;
    color: $black-color;
    background: $white-color;
    border-left: 8px solid $accent-color;
    max-width: 100%;
    padding: 8px 16px;
    border-radius: 12px 0 0 12px;
    margin: 8px 0 0 0;
}

@media (max-width: 768px) {
    .Teacher {
        width: 100%;
    }

    .avatar {
        width: max(100px, 100%);
    }
}
